@(user: Employee)(createTaskForm: Form[Dashboard.CreateTask])(projectsList: List[String])(taskTypes: List[String])(employeeNamesList: List[String])(taskPriorites: List[String])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@form(action = controllers.routes.Dashboard.saveTask(), 'enctype -> "multipart/form-data") {

    @main(user) {


        <div class="createTask">
            <h3>@Messages("dashboard.createtask.createissue")</h3>

            @if(createTaskForm.hasGlobalErrors) {
                <p class="error">
                    <span class="label label-danger">@createTaskForm.globalError.message</span>
                </p>
            }

            <fieldset>

                Select Project
                @select(
                    field = createTaskForm("projectName"),
                    options = options(projectsList),
                    '_label -> null
                )
                Select task type
                    @select(
                        field = createTaskForm("issueType"),
                        options = options(taskTypes),
                        '_label -> null
                    )
                Assigne
                @select(
                    field = createTaskForm("assigneFullName"),
                    options = options(employeeNamesList),
                    '_label -> null
                )
                Priority
                @select(
                    field = createTaskForm("priority"),
                    options = options(taskPriorites),
                    '_label -> null
                )
                Summary
                @inputText(
                    createTaskForm("summary"),
                    'placeholder -> Messages("Project summary"),
                    '_label -> null,
                    'class -> "form-control"
                )
                Label
                @inputText(
                    createTaskForm("labels"),
                    '_label -> null,
                    'placeholder -> Messages("Labels"),
                    'class -> "form-control"
                )
                Description
                @inputText(
                    createTaskForm("description"),
                    'placeholder -> Messages("Project description"),
                    '_label -> null,
                    'class -> "form-control descriptionForm"
                )
                Attatchments
                @inputFile(
                    field = createTaskForm("file"),
                    args = 'size -> 10,
                    '_label -> null
                )

                Project deadline
                @inputDate(
                    createTaskForm("deadline"),
                    '_label -> null
                )
            </fieldset>
            <div class="container buttonCreateIssue">
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="@Messages("dashboard.createtask.createissue")">
                </div>
            </div>
        </div>
    }
}