@(user: Employee)(createProjectForm: Form[Dashboard.CreateProject])


@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

    @form(action = controllers.routes.Dashboard.saveProject(), 'enctype -> "multipart/form-data") {
        @main(user) {

            <div class="singIn">
                <h3>@Messages("dashboard.createproject.createproject")</h3>

                @if(createProjectForm.hasGlobalErrors) {
                    <p class="error">
                        <span class="label label-danger">@createProjectForm.globalError.message</span>
                    </p>
                }

                <fieldset>
                    @inputText(
                        createProjectForm("projectName"),
                        'placeholder -> Messages("Project name"),
                        '_label -> null,
                        '_help -> Messages("dashboard.createproject.projectname"),
                        'class -> "form-control"
                    )
                    @inputText(
                        createProjectForm("description"),
                        'placeholder -> Messages("Project description"),
                        '_label -> null,
                        '_help -> Messages("dashboard.createproject.description"),
                        'class -> "form-control"
                    )
                    @inputText(
                    createProjectForm("version"),
                    'placeholder -> Messages("Project version"),
                    '_label -> null,
                    '_help -> Messages("dashboard.createproject.version"),
                    'class -> "form-control"
                    )
                    Project deadline
                    @inputText(
                        createProjectForm("deadline"),
                        '_label -> null,
                        'type -> "datetime-local",
                        'class -> "form-control"
                    )
                    Select project icon
                    <div id="image_container">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/1.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/2.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/3.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/4.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/5.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/6.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/7.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/8.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/9.png")">
                        <img class="projectIcons" src="@routes.Assets.at("images/Project_icons/10.png")">
                    </div>
                    <form name="projectIcon">
                        <input id="projectIconPath" name="projectIconPath" type="hidden" value="" />
                    </form>
                </fieldset>
                <div class="container buttonSingup">
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="@Messages("dashboard.createproject.createproject")">
                    </div>
                </div>
            </div>
        }
    }
