@(user: Employee)(createProjectForm: Form[Dashboard.CreateProject])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@form(routes.Application.authenticate(), 'class -> "form") {

@main(user) {

    <div class="singIn">
        <h3>@Messages("dashboard.createproject.createproject")</h3>

        @if(createProjectForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-danger">@createProjectForm.globalError.message</span>
            </p>
        }

        <fieldset>
            @inputText(
                createProjectForm("projectName"),
                'placeholder -> Messages("Project name"),
                '_label -> null,
                '_help -> Messages("dashboard.createproject.projectname"),
                'class -> "form-control"
            )
            @inputText(
                createProjectForm("description"),
                'placeholder -> Messages("Project description"),
                '_label -> null,
                '_help -> Messages("dashboard.createproject.description"),
                'class -> "form-control"
            )
            @inputText(
                createProjectForm("due_date"),
                '_label -> null,
                'placeholder -> Messages("Project due_date"),
                '_help -> Messages("dashboard.createproject.due_date"),
                'class -> "form-control"
            )
        </fieldset>
        <div class="container buttonSingup">
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="@Messages("dashboard.createproject.createproject")">
            </div>
        </div>
    </div>
}
}