@(user: Employee)(createTaskForm: Form[Dashboard.CreateTask])(projectsList: List[String])(taskTypes: List[String])(employeeNamesList: List[String])(taskPriorites: List[String])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@form(action = controllers.routes.Dashboard.saveTask(), 'enctype -> "multipart/form-data") {

    @main(user) {


        <div class="createTask">
            <h3>@Messages("dashboard.createtask.createissue")</h3>

            @if(createTaskForm.hasGlobalErrors) {
                <p class="error">
                    <span class="label label-danger">@createTaskForm.globalError.message</span>
                </p>
            }

            <fieldset>
                Select Project
                @select(
                    field = createTaskForm("projectName"),
                    options = options(projectsList),
                    '_label -> null
                )
                Select task type
                    @select(
                        field = createTaskForm("issueType"),
                        options = options(taskTypes),
                        '_label -> null
                    )
                Assigne
                @select(
                    field = createTaskForm("assigneFullName"),
                    options = options(employeeNamesList),
                    '_label -> null
                )
                Priority
                @select(
                    field = createTaskForm("priority"),
                    options = options(taskPriorites),
                    '_label -> null
                )
                Summary
                @inputText(
                    createTaskForm("summary"),
                    'placeholder -> Messages("Project summary"),
                    '_label -> null,
                    'class -> "form-control"
                )
                Estimated time<br>
                <select name="estimatedTime">
                    <option value="1">1 day</option>
                    <option value="2">2 days</option>
                    <option value="3">3 days</option>
                    <option value="4">4 days</option>
                    <option value="5">5 days</option>
                    <option value="6">6 days</option>
                    <option value="7">7 days</option>
                    <option value="8">8 days</option>
                    <option value="9">9 days</option>
                    <option value="10">10 days</option>
                    <option value="11">11 days</option>
                    <option value="12">12 days</option>
                </select>
                <br><br>
                Label
                @inputText(
                    createTaskForm("labels"),
                    '_label -> null,
                    'placeholder -> Messages("Labels"),
                    'class -> "form-control"
                )
                Description
                @inputText(
                    createTaskForm("description"),
                    'placeholder -> Messages("Project description"),
                    '_label -> null,
                    'class -> "form-control descriptionForm"
                )
                Attatchments
                <input type="file" multiple name="files" id="files"/>

                Project deadline
                @inputDate(
                    createTaskForm("deadline"),
                    '_label -> null
                )
            </fieldset>
            <div class="container buttonCreateIssue">
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="@Messages("dashboard.createtask.createissue")">
                </div>
            </div>
        </div>
    }
}