@(user: Employee)(projectsList: List[String])(assignedTasksList: List[datamodel.Task])(taskList: List[datamodel.Task])

    @main(user) {
        <div class="container">
            @*Task List*@
            <div class="panel panel-info taskListPanel">
                <div class="panel-heading"><b>Active tasks</b></div>
                <div class="panel-body">
                @if(assignedTasksList.isEmpty) {
                    <tr><b>No tasks assigned yet</b></tr>
                } else {
                    <table class="table table-condensed">
                        <tr>
                            <th>T</th>
                            <th>Code</th>
                            <th>Summary</th>
                            <th>P</th>
                            <th>Status</th>
                        </tr>
                        @for(task <- assignedTasksList) {
                            <tr>

                                @if(task.getTaskProperties().getTaskType.getType().equals("Bug")) {
                                    <td><i class="fa fa-bug blocker"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("Task")) {
                                    <td><i class="fa fa-tasks minor"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("Story")) {
                                    <td><i class="fa fa-newspaper-o story"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("Technical task")) {
                                    <td><i class="fa fa-scissors technical_task"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("New feature")) {
                                    <td><i class="fa fa-lightbulb-o major"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("Improvment")) {
                                    <td><i class="fa fa-plus-square trivial"></i></td>
                                }

                            <td><div style="width : 100 px" ><a href="task/@task.code" data-target="#task/@task.code">@task.code</a></div></td>
                            <td><a href="task/@task.code" data-target="#task/@task.code">@task.summary</a></td>

                                @if(task.getTaskProperties().priority.equals("Trivial")) {
                                    <td><i class="fa fa-circle trivial"></i></td>
                                }
                                @if(task.getTaskProperties().priority.equals("Minor")) {
                                    <td><i class="fa fa-circle minor"></i></td>
                                }
                                @if(task.getTaskProperties().priority.equals("Major")) {
                                    <td><i class="fa fa-circle major"></i></td>
                                }
                                @if(task.getTaskProperties().priority.equals("Critical")) {
                                    <td><i class="fa fa-exclamation-circle critical"></i></td>
                                }
                                @if(task.getTaskProperties().priority.equals("Blocker")) {
                                    <td><i class="fa fa-minus-circle blocker"></i></td>
                                }
                            <td>@task.status</td>
                            </tr>
                        }
                    </table>
                }
                </div>
            </div>
            @*Comments*@
            <div class="panel panel-info commentsPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Comments</b></h3>
                </div>

                <div class="panel-body">
                @for(task <- taskList) {
                    @for((comment, index) <- task.getCommentsList().zipWithIndex) {
                        <table class="table table-condensed">
                            <tr>
                                <th><img class="menuButtonsLeft" src="data:image/png;base64,@comment.getCommentAuthor().getImageData()" style="width:4%;margin-right: 5px;"/>
                                    <a href="/task/@task.code/user/@comment.getUserId()" data-target="/task/@task.code/user/@comment.getUserId()">@comment.getCommentAuthor().fullname</a>
                                    added a comment in <a href="/task/@task.code" data-target="/task/@task.code">@task.code</a>
                                    - @comment.getAddeddate()</th>
                            </tr>
                            <tr>
                                <td>@comment.getComment()</td>
                            </tr>
                        </table>
                    }
                }
                </div>
            </div>
        </div>
    }