@(user: Employee)(assignTaskForm: Form[TaskBoard.AssignTask])(task: models.datamodel.Task)(employeesNamesList: List[String])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@form(action = controllers.routes.TaskBoard.assignTaskSave(task.code)) {

    @main(user) {

        @if(assignTaskForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-danger">@assignTaskForm.globalError.message</span>
            </p>
        }

        <div class="panel panel-default assignPanel">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-users"></i> Assign task</h3>
            </div>
            <div class="panel-body">

                <fieldset>
                    Assign to: <br>
                    <select class="form-control" name="assignName">
                    @for(user <- employeesNamesList) {
                        <option>@user</option>
                    }
                    </select>
                    <br>
                    Add a comment:
                    <textarea name="comment" class="form-control" rows="3"></textarea>
                    <br>
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Assign">
                    <a href="/task/@task.code" type="button" class="btn btn-default menuButtons" data-target="/task/@task.code">
                        Back</a>
                </div>
            </div>
        </div>
    }
}