@(user: Employee)(task: models.datamodel.Task)(watchers: List[Employee])

@main(user) {
    @wflash()

    <h4> <a href="/task/@task.projectId" data-target="/task/@task.projectId/">@task.getProjectName()</a>
        /  <a href="/task/@task.code" data-target="/task/@task.code/">@task.code</a></h4>
    <h2>@task.summary</h2>

    <hr class="divider">

    <div class="row">
        <div class="col-md-8">

            @*Details*@
            <div class="panel panel-info taskPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Details</b></h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <b>Type: </b>
                        @if(task.getTaskProperties().getTaskType.getType().equals("Bug")) {
                            <i class="fa fa-bug blocker"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("Task")) {
                            <i class="fa fa-tasks minor"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("Story")) {
                            <i class="fa fa-newspaper-o story"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("Technical task")) {
                            <i class="fa fa-scissors technical_task"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("New feature")) {
                            <i class="fa fa-lightbulb-o major"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("Improvment")) {
                            <i class="fa fa-plus-square trivial"></i>
                        }
                        @task.getTaskProperties().getTaskType().getType() <br>

                        <b>Priority: </b>
                        @if(task.getTaskProperties().priority.equals("Trivial")) {
                            <i class="fa fa-circle trivial"></i>
                        }
                        @if(task.getTaskProperties().priority.equals("Minor")) {
                            <i class="fa fa-circle minor"></i>
                        }
                        @if(task.getTaskProperties().priority.equals("Major")) {
                            <i class="fa fa-circle major"></i>
                        }
                        @if(task.getTaskProperties().priority.equals("Critical")) {
                            <i class="fa fa-exclamation-circle critical"></i>
                        }
                        @if(task.getTaskProperties().priority.equals("Blocker")) {
                            <i class="fa fa-minus-circle blocker"></i>
                        }
                        @task.getTaskProperties().priority <br>

                        <b>Labels: </b>@task.labels <br>
                    </div>
                    <div class="col-md-4">
                        <b>Status: </b>@task.status <br>
                        <b>Resolution: </b>Unresolved <br>
                    </div>
                </div>
            </div>

            @*Description*@
            <div class="panel panel-info taskPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Description</b></h3>
                </div>
                <div class="panel-body">
                @task.description
                </div>
            </div>

            @*Attachments*@
            <div class="panel panel-info taskPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Attachments</b></h3>
                </div>
                @if(task.getAttachment() != (null)) {
                    <div class="panel-body">
                        <a href="/task/@task.code/image/@task.getAttachment.getId()" id="image" onclick="/task/@task.code/image/@task.getAttachment.getId()">
                            <img class="image" src="data:image/jpeg;base64,@task.getAttachment().getImageData()" alt="@task.getAttachment.name"
                               style="width:30%;height:30%"/>
                        </a>
                        <br>
                        <a href="/task/@task.code/image/@task.getAttachment.getId()" data-target="/task/@task.code/image/@task.getAttachment.getId()">@task.getAttachment.name</a>
                    </div>
                } else {
                    <div class="panel-body">
                        No attachments
                    </div>
                }
            </div>

            @*Comments*@
            <div class="panel panel-info taskPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Comments</b></h3>
                </div>
                @if(task.getCommentsList().size() != 0) {
                    @for((comment, index) <- task.getCommentsList().zipWithIndex) {
                        <div class="panel-body">
                            @if(task.getCommentsList().size() - 1 == index) {
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a href="/task/@task.code/user/@task.getAssigned().id" data-target="/task/@task.code/user/@task.getAssigned().id">@task.getAssigned().fullname</a>
                                            added a comment -
                                            @comment.getAddeddate()
                                        </div>
                                    </div>
                                    <div class="panel-body">@comment.getComment()</div>
                                </div>
                                <a href="/task/@task.code/addcomment" data-target="/task/@task.code/addcomment" class="btn btn-default btn-sm menuButtons">Add comment</a>
                                } else {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a href="/task/@task.code/user/@task.getAssigned().id" data-target="/task/@task.code/user/@task.getAssigned().id">@task.getAssigned().fullname</a>
                                            added a comment -
                                            @comment.getAddeddate()
                                        </div>
                                    </div>
                                    <div class="panel-body">@comment.getComment()</div>
                                </div>
                                }
                        </div>
                    }
                } else {
                    <div class="panel-body">
                        <a href="/task/@task.code/addcomment" data-target="/task/@task.code/addcomment" class="btn btn-default btn-sm menuButtons">
                            Add comment</a>
                    </div>
                }
            </div>

        </div>
    <div class="col-md-4">
        @*People*@
        <div class="panel panel-info taskPanel">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Dependents</b></h3>
            </div>
            <div class="panel-body">
                <b>Assigned: </b>
                <a href="/task/@task.code/user/@task.getAssigned().id" data-target="/task/@task.code/user/@task.getAssigned().id">@task.getAssigned().fullname</a>
                <a href="/task/@task.code/assign" data-target="/task/@task.code/" class="btn btn-sm btn-default assignButton">Assign</a>

                <br>

                <b>Reporter: </b>
                <a href="/task/@task.code/user/@task.getTaskProperties().getReporter().id" data-target="/task/@task.code/user/@task.getTaskProperties().getReporter().id">
                @task.getTaskProperties().getReporter().fullname</a>

                <br>

                <b>Watchers: </b>
                @for(watcher <- watchers) {
                    <a href="/task/@task.code/user/@watcher.id" data-target="/task/@task.code/user/@watcher.id">@watcher.fullname</a>
                    <a href="/task/@task.code/deletewatcher/@watcher.id" class="icon-block">
                        <i class="fa fa-times deleteCross"></i>
                    </a>
                }
                <a href="/task/@task.code/addwatcher" data-target="/task/@task.code/addwatcher" class="btn btn-sm btn-default addWatcherButton">Add Watcher</a>
            </div>
        </div>

        @*TimeTracking*@
        <div class="panel panel-info taskPanel">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Time tracking</b></h3>
            </div>
            <div class="panel-body">
                <b>Estimated: </b>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 100%;">@task.getTimeTracking().getEstimatedTime() day(s)</div>
                </div>

                <b>Remaining: </b>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: @task.getTimeTracking().getRemainingTimePercent()%;">@task.getTimeTracking().getRemainingTime() day(s)</div>
                </div>
                <a href="/task/@task.code/logwork" data-target="/task/@task.code/logwork" class="btn btn-sm btn-default assignButton">Log work</a>
            </div>
        </div>
    </div>
    </div>

}