@(user: Employee)(task: models.datamodel.Task)(watchers: List[Employee])

@main(user) {
    @wflash()

    <h4> <a href="/task/@task.projectId" data-target="/task/@task.projectId/">@task.getProjectName()</a>
        /  <a href="/task/@task.code" data-target="/task/@task.code/">@task.code</a></h4>
    <h2>@task.summary</h2>

    <hr class="divider">

    <div class="row">
        <div class="col-md-8">

            @*Details*@
            <div class="panel panel-info taskPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Details</b></h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <b>Type: </b>
                        @if(task.getTaskProperties().getTaskType.getType().equals("Bug")) {
                            <i class="fa fa-bug blocker"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("Task")) {
                            <i class="fa fa-tasks minor"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("Story")) {
                            <i class="fa fa-newspaper-o story"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("Technical task")) {
                            <i class="fa fa-scissors technical_task"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("New feature")) {
                            <i class="fa fa-lightbulb-o major"></i>
                        }
                        @if(task.getTaskProperties().getTaskType.getType().equals("Improvment")) {
                            <i class="fa fa-plus-square trivial"></i>
                        }
                        @task.getTaskProperties().getTaskType().getType() <br>

                        <b>Priority: </b>
                        @if(task.getTaskProperties().priority.equals("Trivial")) {
                            <i class="fa fa-circle trivial"></i>
                        }
                        @if(task.getTaskProperties().priority.equals("Minor")) {
                            <i class="fa fa-circle minor"></i>
                        }
                        @if(task.getTaskProperties().priority.equals("Major")) {
                            <i class="fa fa-circle major"></i>
                        }
                        @if(task.getTaskProperties().priority.equals("Critical")) {
                            <i class="fa fa-exclamation-circle critical"></i>
                        }
                        @if(task.getTaskProperties().priority.equals("Blocker")) {
                            <i class="fa fa-minus-circle blocker"></i>
                        }
                        @task.getTaskProperties().priority <br>

                        <b>Labels: </b>@task.labels <br>
                    </div>
                    <div class="col-md-4">
                        <b>Status: </b>@task.status <br>
                        <b>Resolution: </b>Unresolved <br>
                    </div>
                </div>
            </div>

            @*Description*@
            <div class="panel panel-info taskPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Description</b></h3>
                </div>
                <div class="panel-body">
                @task.description
                </div>
            </div>

            @*Attachments*@
            <div class="panel panel-info taskPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Attachments</b></h3>
                </div>
                @if(task.getAttachment() != (null)) {
                    <div class="panel-body">
                        <img alt="" src="@task.getAttachment().data"/>
                    </div>
                } else {
                    <div class="panel-body">
                        No attachments
                    </div>
                }
            </div>

            @*Comments*@
            <div class="panel-group" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                                <h3><b>Comments</b></h3>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                        @for(comment <- task.getCommentsList()) {
                            <div class="panel-group" id="accordion2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeOne">
                                                @comment.getCommentAuthor().fullname
                                                added a comment -
                                                @comment.getAddeddate();
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThreeOne" class="panel-collapse collapse in">
                                        <div class="panel-body">@comment.getComment()</div>
                                    </div>
                                </div>

                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            @*People*@
            <div class="panel panel-info taskPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Dependents</b></h3>
                </div>
                <div class="panel-body">
                    <b>Assigned: </b>
                    <a href="/user/@task.getAssigned().id" data-target="user/@task.getAssigned().id">@task.getAssigned().fullname</a>
                    <a href="/task/@task.code/assign" data-target="/task/@task.code/" class="btn btn-info">Assign</a>

                    <br>

                    <b>Reporter: </b>
                    <a href="/user/@task.getTaskProperties().getReporter().id" data-target="user/@task.getTaskProperties().getReporter().id">
                    @task.getTaskProperties().getReporter().fullname</a>

                    <br>

                    <b>Watchers: </b>
                    @for(watcher <- watchers) {
                        <a href="/user/@watcher.id" data-target="user/@watcher.id">@watcher.fullname</a>
                    }
                </div>
            </div>
        </div>
    </div>

}