@(user: Employee)(newCommentForm: Form[TaskBoard.NewComment])(task: models.datamodel.Task)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@form(action = controllers.routes.TaskBoard.newCommentSave(task.code)) {

    @main(user) {

        @if(newCommentForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-danger">@newCommentForm.globalError.message</span>
            </p>
        }

        <div class="panel panel-info assignPanel">
            <div class="panel-heading">
                <h3 class="panel-title"><b>New comment</b></h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    Add a comment:
                    @inputText(
                        newCommentForm("comment"),
                        'placeholder -> Messages(""),
                        '_label -> null,
                        'class -> "form-control"
                    )
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Add comment">
                    <a href="/task/@task.code" type="button" class="btn btn-info menuButtons" data-target="/task/@task.code">
                        Back</a>
                </div>
            </div>
        </div>
    }
}