@(user: Employee)(project: models.datamodel.Project)(taskList: List[models.datamodel.Task])(recentCommentedTasks: List[models.datamodel.Task])

@main(user) {

    @wflash()

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
            @project.getName() <small>@project.getSummary()</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> <a href="@routes.Dashboard.index()">Dashboard</a> / @project.getName()

                </li>
            </ol>
        </div>
    </div>

    <hr class="divider">

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            @*Task List*@
            <div class="panel panel-default taskListPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-fw fa-tasks"></i> Active tasks</h3>
                </div>
                <div class="panel-body">
                @if(taskList.isEmpty) {
                    <tr><b>No tasks assigned yet</b></tr>
                } else {
                    <table class="table table-condensed">
                        <tr>
                            <th>T</th>
                            <th>Code</th>
                            <th>Summary</th>
                            <th>P</th>
                            <th>Status</th>
                            <th>Assigned</th>
                        </tr>
                        @for(task <- taskList) {
                            <tr>
                                @if(task.getTaskProperties().getTaskType.getType().equals("Bug")) {
                                    <td><i class="fa fa-bug blocker"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("Task")) {
                                    <td><i class="fa fa-tasks minor"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("Story")) {
                                    <td><i class="fa fa-newspaper-o story"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("Technical task")) {
                                    <td><i class="fa fa-scissors technical_task"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("New feature")) {
                                    <td><i class="fa fa-lightbulb-o major"></i></td>
                                }
                                @if(task.getTaskProperties().getTaskType.getType().equals("Improvment")) {
                                    <td><i class="fa fa-plus-square trivial"></i></td>
                                }

                            <td><div style="width:100px" ><a href="/task/@task.code" data-target="#/task/@task.code">@task.code</a></div></td>
                            <td><a href="/task/@task.code" data-target="#/task/@task.code">@task.summary</a></td>

                                @if(task.getTaskProperties().priority.equals("Trivial")) {
                                    <td><i class="fa fa-circle trivial"></i></td>
                                }
                                @if(task.getTaskProperties().priority.equals("Minor")) {
                                    <td><i class="fa fa-circle minor"></i></td>
                                }
                                @if(task.getTaskProperties().priority.equals("Major")) {
                                    <td><i class="fa fa-circle major"></i></td>
                                }
                                @if(task.getTaskProperties().priority.equals("Critical")) {
                                    <td><i class="fa fa-exclamation-circle critical"></i></td>
                                }
                                @if(task.getTaskProperties().priority.equals("Blocker")) {
                                    <td><i class="fa fa-minus-circle blocker"></i></td>
                                }
                            <td>@task.getTaskStatus().getStatus()</td>
                            <td><a href="/task/@task.code/user/@task.getAssigned().id" data-target="/task/@task.code/user/@task.getAssigned().id">@task.getAssigned().fullname</a></td>
                            </tr>
                        }
                    </table>
                }
                </div>
            </div>
            @*Comments*@
            <div class="panel panel-default commentsPanel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-fw fa-list-alt"></i> Recent comments</h3>
                </div>

                <div class="panel-body">
                @for(task <- recentCommentedTasks) {
                    @for((comment, index) <- task.getCommentsList().zipWithIndex) {
                        <table class="table table-condensed">
                            <tr>
                                <th><img class="menuButtonsLeft" src="data:image/png;base64,@comment.getCommentAuthor().getImageData()" style="width:4%;margin-right:5px;"/>
                                    <a href="/task/@task.code/user/@comment.getUserId()" data-target="/task/@task.code/user/@comment.getUserId()">@comment.getCommentAuthor().fullname</a>
                                    added a comment in <a href="/task/@task.code" data-target="/task/@task.code">@task.code</a>
                                    - @comment.getAddeddate()</th>
                            </tr>
                            <tr>
                                <td>@comment.getComment()</td>
                            </tr>
                        </table>
                    }
                }
                </div>
            </div>
        </div>
    </div>
}