@(user: Employee)(employee: Employee)(code: String)

@main(user) {
        <div class="panel panel-default userPanel">
            <div class="panel-heading">
                <h3 class="panel-title"><b>User info</b></h3>
            </div>
            <div class="panel-body">
                <img class="menuButtons" src="data:image/png;base64,@employee.getImageData()" style="width:20%;height:20%;margin-top:20px;"/> <br>
                <b>Username: </b>@employee.fullname <br>
                <b>Email: </b><a href="mailto:@employee.email">@employee.email</a> <br>
                <b>Joined: </b>@employee.dateCreation <br>
                @if(user.id == employee.id) {
                    <br>
                    @helper.form(action = routes.Dashboard.saveUserIcon(code)) {
                        <b>Avatar:</b> <input type="file" name="avatar">
                        <input class="btn btn-primary changeAvatarButton" type="submit" value="Change avatar">
                    }
                } else {
                    <br><br>
                }
                @if(code != "pass"){
                    <br>
                    <a href="/task/@code" type="button" class="btn btn-default menuButtons" data-target="/task/@code">Back</a>
                }
            </div>
        </div>

}

